<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h1>Latest Mars News</h1>
    <h2>{{ mars_info.news_title }}</h1>
    <h3>{{ mars_info.news_paragraph }}</h3>

    <h1>Featured Mars Image</h1>

    <main class="container">
      <section id="main-vis">
        <section id="figure">
          <h1 id="summary">Featured Mars Image</h1>

          <img id="vispag-image" src={{ mars_info.featured_image }} alt="Featured image">
        </section>
      </section>
  
      <aside id="visualizations">
        <h2>Visualizations</h2>
        <a href="vispag_1.html">
          <img id="vis-image" src="Resources/assets/images/Fig1.png" alt="Max Temperature">
        </a>
      </aside>
    </main>

  </div>
  </div>
</body>

</html>
