.container {
  margin-top: 30px;
}

#figure {
  position: relative;
}

#summary {
  position: absolute;
}

#main-vis {
  width: 60%;
  float: left;
  background-color: white;
  padding: 30px;
}


aside {
  text-align: center;
}


#vispag-image {
  width: 95%;
  height: 85%; 
  margin-top: 30px;
  margin-left: 15px;
}

#comp-image {
  width: 85%;
  height: 85%;
}


/* Small screen */
@media (max-width: 991px) {
  #main-vis {
    width: 100%;
  }

  #visualizations {
    width: 100%;
    margin-top: 30px;
    margin-left:0px;
  }

}


